* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 100px;
    background: #eee;
}
.service h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}
.service h1 span {
    color: #ff3053ff;
}
.service .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service .content .box {
    position: relative;
    width: 100%;
    background: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: default;
    overflow: hidden;
}
.service .content .box i {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #ff3053ff;
    font-size: 35px;
    color: #fff;
    line-height: 70px;
    box-shadow: 0 0 0 0 #ff3053ff;
    transition: 1s;
}
.service .content .box h3 {
    font-size: 20px;
    margin: 10px 0;
}
.service .content .box p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}
.service .content .box button {
    width: 150px;
    height: 40px;
    background: #ff3053ff;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.service .content .box button:hover {
    background: #fff;
    color: #ff3053ff;
}
.service .content .box:hover i {
    box-shadow: 0 0 0 250px #ff3053ff;
}
.service .content .box h3,
.service .content .box p,
.service .content .box button {
    z-index: 1;
    position: relative;
    transition: .5s;
}
.service .content .box:hover h3,
.service .content .box:hover p {
    color: #fff;
}

@media (max-width: 1100px) {
    .service {
        padding: 50px;
    }
}
@media (max-width: 960px) {
    .service .content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 650px) {
    .service h1 {
        font-size: 30px;
    }
    .service .content {
        grid-template-columns: repeat(1, 1fr);
    }
}